<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>WSJ</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http://live\.wsj\.com/#![0-9A-F]{8}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{12}</string>
				<string>^http://live\.wsj\.com/video/[^/]+/[0-9A-F]{8}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{12}\.html</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
