<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Blue Billywig</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http://www\.ah\.nl/allerhande/(#/)?video/.+</string>
				<string>^http://www\.gelderlander\.nl/video/Tag/.+#1\.\d+</string>
				<string>^http://video\.elsevier\.nl/#!clip/\d+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
