<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleExecutable</key>
        <string>Gay Adult </string>
        <key>CFBundleIdentifier</key>
        <string>com.plexapp.agents.GayAdult</string>
        <key>PlexAgentAttributionText</key>
        <string>
            <![CDATA[
                2020-02-07<br/>
                <font size="4" color="green"><a href="https://github.com/acvigue/pgma">GAY ADULT:</a></font><br/><br/>
                Plex metadata agent for fetching metadata from websites that sell gay adult . 
                The metadata that contributes to this agent comes from the following websites:<br/>
                    1. Adult Entertainment Broadcast Network<br/>
                    2. CD Universe<br/>
                    3. Gay DVD Empire<br/>
                    4. Gay Entertainment Video Index<br/>
                    5. Gay Hot Movies<br/>
                    6. Homo Active<br/>
					7. RadVideo<br/>
					8. IAFD</br>
				<br/>
                The metadata that contributes to this agent comes from the following blogs:<br/>
                    1. Fagalicious<br/>
                    2. QueerClick<br/>
                    3. WayBig<br/>
            ]]>        
        </string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>1.0</string>
        <key>PlexFrameworkVersion</key>
        <string>2</string>
        <key>PlexPluginClass</key>
        <string>Agent</string>
        <key>PlexPluginMode</key>
        <string>AlwaysOn</string>
        <key>PlexClientPlatforms</key>
        <string>*</string>
    </dict>
</plist>
