<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Adobe TV</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://tv.adobe.com/watch/adobe-beginner-classes-with-dennis-radeke/episode-1-intro-to-after-effects-soundbooth-and-adobe-premiere-pro/</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http://tv.adobe.com/watch/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
