<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Universal Sports</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://universalsports.com/video/two-massive-hits-get-sunlula-and-emerick-ejected/</string>
				<string>http://universalsports.com/video/2012-womens-volleyball-world-grand-prix-usa-vs-cuba/</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http://(www\.)?universalsports.com/video/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
