<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Newsy</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.newsy.com/videos/newsy-now-september-12-gmt-1600</string>
				<string>http://www.newsy.com/videos/charlie-sheen-gets-roasted/</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http://www.newsy.com/videos/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
