<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Dumpert</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.dumpert.nl/mediabase/1659391/1b9393e0/epic_game_opa_doet_promomeisjes_samsung.html</string>
				<string>http://www.dumpert.nl/mediabase/1660551/36d11a19/omg_atoombom_op_haarlem_11.html</string>
				<string>http://www.dumpert.nl/mediabase/1609301/c2f3eacc/verslaggever_huilt_tijdens_vierdaagse.html</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^https?:\/\/www\.dumpert\.nl\/mediabase\/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
