<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Comedy Central</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^(?!.*\/press\/)http:\/\/(www|tosh)\.cc\.com\/((full-)?episodes|video\-clips)\/[^/]{6}\/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
