<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Snotr</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.snotr.com/video/14440/Tiny_Hamsters_Share_Thanksgiving_Dinner_With_Rat_And_Rabbit</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http:\/\/www\.snotr\.com\/video\/\d+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
