<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>beeg</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http:\/\/beeg\.com\/\d+</string>
			</array>
		</dict>
		<key>RedTube</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^https?:\/\/www\.redtube\.com/\d+</string>
			</array>
		</dict>
		<key>xHamster</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http:\/\/(www\.)?xhamster\.com\/movies\/\d+\/\w+\.html</string>
				<string>^http:\/\/(www\.)?xhamster\.com\/xembed\.php\?video=\d+$</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
