<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Team Treehouse</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://teamtreehouse.com/topics/introduction/ios</string>
				<string>http://teamtreehouse.com/library/ios-development/ios-5-foundations/automatic-reference-counting/getting-started</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http://teamtreehouse.com/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
