<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>RU TV</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http:\/\/rutv\.ru\/brand\/show\/(episode|id)\/\d+</string>
				<string>^http:\/\/player\.rutv\.ru\/iframe\/video\/id\/\d+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
