<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleExecutable</key>
        <string>Gay Adult Scenes</string>
        <key>CFBundleIdentifier</key>
        <string>com.plexapp.agents.GayAdultScenes</string>
        <key>PlexAgentAttributionText</key>
        <string>
            <![CDATA[
                2020-02-07<br/>
                <font size="4" color="blue"><a href="https://github.com/CodyBerenson/PGMA-Modernized">GAY ADULT SCENES:</a></font><br/><br/>
                Plex metadata agent for fetching metadata from gay blog sites. 
                The metadata that contributes to this agent comes from the following websites:<br/>
                    1. BestExclusivePorn<br/>
                    2. Fagalicious<br/>
                    3. Internet Adult Film Database<br/>
                    4. QueerClick<br/>
                    5. WayBig<br/>
            ]]>
        </string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>1.0</string>
        <key>PlexFrameworkVersion</key>
        <string>2</string>
        <key>PlexPluginClass</key>
        <string>Agent</string>
        <key>PlexPluginMode</key>
        <string>AlwaysOn</string>
        <key>PlexClientPlatforms</key>
        <string>*</string>
    </dict>
</plist>
