<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>AOL On</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<!-- AOL On site -->
				<string>^http://on\.aol\.com/video/(.+\-)?(\d{9,})</string>
				<string>^http://on\.aol\.com/show/[^/]+/episode/(\d{9,})</string>
				<string>^http://on\.aol\.com/.+videoid=(\d{9,})</string>
				<string>^http://on\.aol\.com/playlist/.+</string>
				<!-- Embeds on other websites -->
				<string>^http://cfiles\.5min\.com/.+videoID=(\d{9,})</string>
				<string>^https?://s?pshared\.5min\.com/.+playList=(\d{9,})</string>
				<string>^http://www\.engadget\.com/embed\-5min/.+playList=(\d{9,})</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
