<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Brightcove</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http:\/\/c\.brightcove\.com\/services\/viewer\/htmlFederated\?playerKey=[^&amp;]+&amp;dynamicStreaming=true&amp;(@|%40)videoPlayer=.+(&amp;refURL=.+)?$</string>
				<string>^(?i)(?!.*playerKey)https?:\/\/(c|secure)\.brightcove\.com/services\/viewer\/htmlFederated.+(videoId|videoPlayer)=.+</string>
				<string>^(?i)https?:\/\/(c|secure)\.brightcove\.com\/services\/viewer\/federated_f9.+(videoId|videoPlayer)=.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
