<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleExecutable</key>
        <string>Gay Adult Scenes</string>
        <key>CFBundleIdentifier</key>
        <string>com.plexapp.agents.GayAdultFilms</string>
        <key>PlexAgentAttributionText</key>
        <string>
            <![CDATA[
                2020-04-12<br/>
                <font size="4" color="red"><a href="https://github.com/CodyBerenson/PGMA-Modernized">GAY ADULT FILMS:</a></font><br/><br/>
                Plex metadata agent for fetching metadata from websites that sell gay adult films. 
                The metadata that contributes to this agent comes from the following websites:<br/>
                     1. Adult Film Database<br/>
                     2. AEBN - Adult Entertainment Broadcast Network<br/>
                     3. AVEntertainments<br/>
                     4. BestExclusivePorn<br/>
                     5. CD Universe<br/>
                     6. Gay DVD Empire<br/>
                     7. Gay Fetish and BDSM<br/>
                     8. Gay Hot Movies<br/>
                     9. GayMovie<br/>
                    10. GayRado<br/>
                    11. GayWorld<br/>
                    12. GEVI - Gay Erotic Video Index<br/>
                    13. Homo Active<br/>
                    14. Internet Adult Film Database</br>
                    15. WolffVideo<br/>
            ]]>
        </string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>1.0</string>
        <key>PlexFrameworkVersion</key>
        <string>2</string>
        <key>PlexPluginClass</key>
        <string>Agent</string>
        <key>PlexPluginMode</key>
        <string>AlwaysOn</string>
        <key>PlexClientPlatforms</key>
        <string>*</string>
    </dict>
</plist>