<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>StumbleUpon</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.stumbleupon.com/su/1qrBfe/www.youtube.com/watch%253Fv%253DqybUFnY7Y8w</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http://www.stumbleupon.com/su/[0-9, a-z, A-Z]{6}/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
