<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>T3</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.t3.com/video/amazon-kindle-top-tips-and-tricks-video</string>
				<string>http://www.t3.com/video/htc-sensation-xe-video</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http://www\.t3\.com/video/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
